.statItem {
	flex: 1;
	cursor: pointer;

	&:not(:last-child) {
		margin-right: 15px;
	}

	&.statItem--active {
		border-top: solid 10px greenyellow;
	}

	&.statItem---red {
		border-top: solid 10px red;
	}

	& > .statItem__title {
		& > .statItem__cases {
			color: #cc1034;
			font-weight: 600;
			font-size: 1.75rem;
			margin-bottom: 0.5rem;

			&.statItem__cases--green {
				color: lightgreen !important;
			}
		}

		& > .statItem__total {
			color: #6c757d;
			font-weight: 700 !important;
			font-size: 0.8rem !important;
			margin-top: 15px !important;
		}
	}
}
