.caseList {
	margin-top: 20px;
	overflow-y: scroll;
	height: 400px;
	color: #6a5d5d;
	background: #fff;

	& > tr {
		display: flex;
		justify-content: space-between;

		&:nth-of-type(odd) {
			background: #f3f2f8;
		}

		& > td {
			padding: 0.5rem;
		}
	}
}
